img {
    width: 40px;
    height: 40px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 20px;
}

ul li a {
    display: block;
}

p {
    color: #FFF;
    font-family: Spartan, sans-serif;
    font-size: 16px;
    margin-bottom: 2px!important;
    margin-left: 50px!important;
}